<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="InitTspFile" value="2600_init_2_pds.tsp"/>
		<add key="ReadIntervalMillisec" value="50" />
		<!-- 可用的端口类型： Serial、GPIB-->
		<add key="PortType" value="Serial" />
		<add key="PortName" value="COM3" />
		<add key="BaudRate" value="115200" />
		<add key="GPIBAddr" value="26" />
	</appSettings>
</configuration>